* {
  margin: 0 auto;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  list-style-type: none;
}

header {
  color: #fff;
}

.topbar > a > span {
  color: #4d5ae5;
}
